
# ===============================
# Generated Media (VERY IMPORTANT)
# ===============================
media/bills/

env/
venv/
__pycache__/

uploads/documents/
utils/healthcare-hms-1fdc42c427ae.json

