{% extends "admin/base.html" %} {% block title %}Edit Doctor{% endblock %} {%
block content %}

<!-- <div class="bg-card p-3 mb-3 border border-gray-50/20 rounded-2xl shadow-soft4">
  <h5 class="text-md">Edit Doctor</h5>
  <p class="text-muted text-sm">Admin can update doctor profile</p>
</div> -->

<!-- ================= HEADER ================= -->
<div
  class="bg-card flex flex-col md:flex-row md:items-center md:justify-between gap-4 p-3 mb-4 border border-gray-50/20 rounded-2xl shadow-soft4"
>
  <!-- LEFT : Title -->
  <div>
    <h4 class="text-md ">Edit Doctor</h4>
    <p class="text-muted text-sm">Admin can update doctor profile</p>
  </div>

  <!-- RIGHT : Password Update -->
  <div class="flex items-center gap-2">
    <label>Password:</label>

    <input
      type="text"
      id="password_field"
      placeholder="Update nurse password"
      class="form-control"
      style="width: 220px"
      value="{{ user.password_hash or '' }}"
    />

    <button
      type="button"
      class="btn btn-success px-3"
      onclick="updatePassword()"
    >
      💾
    </button>
  </div>
</div>

<form
  method="post"
  action="/admin/doctor/doctors/{{ doctor.id }}/update"
  class="bg-card p-3 mb-3 border border-gray-50/20 rounded-2xl shadow-soft4"
>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label>Name</label>
      <input class="form-control" value="{{ user.name }}" disabled />
    </div>

    <div class="col-md-6 mb-3">
      <label>Phone</label>
      <input class="form-control" value="{{ user.phone }}" disabled />
    </div>

    <div class="col-md-6 mb-3">
      <label>Email</label>
      <input class="form-control" value="{{ user.email }}" disabled />
    </div>

    <div class="col-md-6 mb-3">
      <label>Specialization</label>
      <input
        class="form-control"
        name="specialization"
        value="{{ doctor.specialization }}"
      />
    </div>

     <div class="col-md-6 mb-3">
  <label>Hospital</label>
  <select class="form-select" name="hospital">
    <option value="">Select Hospital</option>

    {% for h in hospitals %}
      <option value="{{ h.id }}"
        {% if doctor.user.hospital and doctor.user.hospital.id == h.id %}
          selected
        {% endif %}>
        {{ h.name }} ({{ h.branch }})
      </option>
    {% endfor %}
  </select>
</div>


    <div class="col-md-6 mb-3">
      <label>Registration Number</label>
      <input
        class="form-control"
        name="registration_number"
        value="{{ doctor.registration_number }}"
      />
    </div>

    <div class="col-md-6 mb-3">
      <label>Experience (Years)</label>
      <input
        type="number"
        class="form-control"
        name="experience_years"
        value="{{ doctor.experience_years }}"
      />
    </div>

    <div class="col-md-6 mb-3">
      <label>Status</label>
      <select class="form-select" name="available">
        <option value="true" {% if doctor.available %}selected{% endif %}>
          Available
        </option>
        <option value="false" {% if not doctor.available %}selected{% endif %}>
          Unavailable
        </option>
      </select>
    </div>
  </div>

  <button class="btn btn-success">Save Changes</button>
  <a href="/admin/doctors" class="btn btn-secondary">Cancel</a>
</form>

<script>
  function headers() {
    return {
      "Content-Type": "application/json",
      Authorization: "Bearer " + localStorage.getItem("token"),
    };
  }
  async function updatePassword() {
    const password = document.getElementById("password_field").value;

    if (!password) {
      alert("Password required");
      return;
    }

    const payload = {
      phone: "{{ user.phone }}",
      password: password,
    };

    try {
      const res = await fetch("/auth/update-password", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer " + localStorage.getItem("token"),
        },
        body: JSON.stringify(payload),
      });

      const data = await res.json();

      if (!res.ok) {
        alert(data.detail || "Failed");
        return;
      }

      alert("✅ Password updated successfully");
    } catch (err) {
      alert("Server error");
    }
  }
</script>
{% endblock %}
