{% extends "admin/base.html" %} {% block title %}Create Doctor{% endblock %} {%
block content %}

<div class="bg-card mb-3 border border-gray-50/20 rounded-2xl shadow-soft4">
  <!-- HEADER -->
  <div class="d-flex p-3 justify-content-between align-items-center">
    <div>
      <h5 class="mb-0 text-md">Create Doctor</h5>
      <small class="text-muted"> Add new doctor to the system </small>
    </div>
  </div>
</div>

<form
  id="doctorForm"
  class="bg-card p-3 mb-3 border border-gray-50/20 rounded-2xl shadow-soft4"
>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label>Name</label>
      <input class="form-control" id="name" />
    </div>
    <div class="col-md-6 mb-3">
      <label>Phone *</label>
      <input class="form-control" id="phone" required />
    </div>

    <div class="col-md-6 mb-3">
      <label>Email</label>
      <input class="form-control" id="email" />
    </div>

    <div class="col-md-6 mb-3">
      <label>Specialization</label>
      <input
        class="form-control"
        id="specialization"
        placeholder="Cardiologist, Neurologist"
      />
    </div>

    <div class="col-md-6 mb-3">
      <label>Registration Number</label>
      <input class="form-control" id="registration_number" />
    </div>

    <div class="col-md-6 mb-3">
      <label>Experience (Years)</label>
      <input type="number" class="form-control" id="experience_years" />
    </div>

    <div class="col-md-6 mb-3">
      <label>Status</label>
      <select class="form-select" id="available">
        <option value="true">Available</option>
        <option value="false">Unavailable</option>
      </select>
    </div>
  </div>

  <div class="mt-3">
    <button class="btn btn-success">Create Doctor</button>
    <a href="/admin/doctors" class="btn btn-secondary">Cancel</a>
  </div>
</form>

<script>
  document.getElementById("doctorForm").onsubmit = async (e) => {
    e.preventDefault();

    const formData = new FormData();

    formData.append("name", document.getElementById("name").value);

    formData.append("phone", document.getElementById("phone").value);

    formData.append("email", document.getElementById("email").value || "");

    formData.append(
      "specialization",
      document.getElementById("specialization").value || "",
    );

    formData.append(
      "registration_number",
      document.getElementById("registration_number").value || "",
    );

    formData.append(
      "experience_years",
      document.getElementById("experience_years").value || "",
    );

    formData.append("available", document.getElementById("available").value);

    const res = await fetch("/admin/doctor/create-new", {
      method: "POST",
      body: formData,
    });

    const data = await res.json();

    if (!res.ok) {
      alert(data.detail || "Error");
      return;
    }

    window.location.href = "/admin/doctors";
  };
</script>

<!-- <script>
  document.getElementById("doctorForm").onsubmit = async (e) => {
    e.preventDefault();

    const formData = new FormData();
    formData.append("phone", phone.value);
    formData.append("name", name.value);
    formData.append("email", email.value || "");
    formData.append("specialization", specialization.value || "");
    formData.append("registration_number", registration_number.value || "");
    formData.append("experience_years", experience_years.value || "");
    formData.append("available", available.value === "true");

    const res = await fetch("/admin/doctor/create-new", {
      method: "POST",
      body: formData,
    });

    const data = await res.json();

    if (!res.ok) {
      alert(data.detail || "Error");
      return;
    }

    window.location.href = "/admin/doctors";
  };
</script> -->

{% endblock %}
