{% extends "admin/base.html" %} {% block title %}Patients{% endblock %} {% block
content %}

<div class="bg-card border border-gray-50/20 rounded-2xl shadow-soft4">
  <!-- HEADER -->
  <!-- <div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">Patients</h5>

    <div class="d-flex gap-2">
      <button
        class="btn btn-sm btn-primary"
        onclick="location.href = '/admin/create/patient'"
      >
        ➕ Add Patient
      </button>
    </div>
  </div> -->

  <div class="d-flex p-3 justify-content-between align-items-center">
    <h5 class="mb-0 text-md">Patients</h5>

    <div class="d-flex gap-2">
      <button
        class="bg-success -500 text-white px-2 py-1.5 !rounded-xl hover:bg-success -600 transition-colors"
        onclick="location.href = '/admin/create/patient'"
      >
        Add Patient
      </button>
    </div>
  </div>

  <div class="overflow-scroll">
    <!-- TABLE -->
    <table class="table table-hover overflow-auto align-middle">
      <thead class="table-light">
        <tr>
          <th class="min-w-80">Name</th>
          <!-- <th>Age</th> -->
          <th>Gender</th>
          <th>Age</th>
          <th class="min-w-32">Mobile</th>
          <th class="min-w-40">Doctor</th>
          <th class="min-w-96">Address / Ward</th>
          <th>Status</th>
          <th class="text-center min-w-32">Actions</th>
        </tr>
      </thead>

      <tbody>
        {% if patients %} {% for patient in patients %}
        <tr>
          <!-- NAME -->
          <td>{{ patient.user.name }}</td>

          <!-- AGE -->
          <!-- <td>{{ patient.age or "-" }}</td> -->

          <!-- GENDER -->
          <td>{{ patient.gender or "-" }}</td>
          <!-- AGE -->
          <td>{{ patient.age or "-" }}</td>

          <!-- MOBILE -->
          <td>{{ patient.user.phone }}</td>
          <td>
            {% if patient.assigned_doctor %} Dr. {{
            patient.assigned_doctor.user.name }} {% else %}
            <span class="text-muted">Not Assigned</span>
            {% endif %}
            <!-- ROOM / WARD -->
          </td>

          <td>{{ patient.address}}</td>

          <!-- STATUS -->
          <td>
            {% if patient.service_end %}
            <span class="badge bg-success">Recovered</span>
            {% elif patient.assigned_doctor %}
            <span class="badge bg-info text-dark">Under Observation</span>
            {% else %}
            <span class="badge bg-warning text-dark">Admitted</span>
            {% endif %}
          </td>

          <!-- ACTIONS -->
          <td class="text-center flex items-center justify-center gap-0 min-w-32">
            <a
              href="/admin/patient/{{ patient.id }}/view"
                          class="btn btn-sm hover:bg-yellow-100">
                          <!-- class="btn btn-sm btn-outline-secondary" -->
        <i data-lucide="eye" class="w-5 h-5 text-yellow-600"></i>
            </a>

            <a
              href="/admin/patient/{{ patient.id }}/care"
                          class="btn btn-sm hover:bg-yellow-100"

              >
              <!-- class="btn btn-sm btn-outline-warning" -->
              <i data-lucide="pencil" class="w-5 h-5 text-yellow-600"></i>
            </a>

            {% if not patient.service_end %}
            <button class="btn btn-sm btn-outline-danger" title="Discharge">
              🏥
            </button>
            {% endif %}
          </td>
        </tr>
        {% endfor %} {% else %}
        <tr>
          <td colspan="6" class="text-center text-muted">No patients found</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
